%li#thumbnail{ id: image.id, class: image.html_class }
	%figure.thumbnail
		= link_to image_tag(image.data.thumbnail.url, alt: image.human_name), url_for(image)

		%figcaption.number
			= image.human_id

	%figure.preview
		= image_tag image.data.preview.url, alt: image.title

		%figcaption
			= image.title
